#imagen-portada {
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
}
.section__container {
	background-color: #D3D3D399;
	text-align: center;
	letter-spacing: 0.3em;
	font-size: small;
	padding: 12px;
	&-span1 {
		display: block;
		text-align: center;
		font-size: 36px;
		letter-spacing: 0.3em;
		font-family: 'Times New Roman', Times, serif;
		margin-top: 20px;
	}
	&-span2 {
		display: block;
		text-align: center;
		font-size: 18px;
		letter-spacing: 0.2em;
		margin-top: 20px;
	}
	&-linea {
		border: none;
		border-top: 1px solid black;
		margin: 20px auto;
		width: 20%;
	}
}

.container h4 {
	font-weight: normal;
}
.image-container {
	display: inline-block;
}
.grid {
	text-align: center;
	padding-top: 6vh;
}
section {
	margin-bottom: 50px;
}

