//colores
$fontLight: #333;
$primary: #ffffff;
$bgDark: #f5be0a;
$color_1: rgb(255, 255, 255);
$color_2: #ffffff;
$color_3: white;
$color_4: #f5be0a;
$color_5: #fff;
$color_6: #444444;
$color_7: #ff8c69;
$color_8: #EFA8A4;
$color_9: #FFFFFF;
$color_10: rgb(153, 246, 53);
$color_11: #000000;
$font-family_1: 'Roboto', sans-serif;
$font-family_2: inherit;
$font-family_3: 'Times New Roman', Times, serif;
$font-family_4: 'calibri';
$background-color_1: transparent;
$background-color_2: #333;
$background-color_3: #D3D3D399;
$background-color_4: #fff;
$background-color_5: #f2f2f2;
$background-color_6: #3b5998;
$background-color_7: #228ad0;
$background-color_8: #0077b5;
$background-color_9: #c13584;
$background-color_10: #FADCD9;
$background-color_11: #FFFFFF;
$background-color_12: #ecd137;
$background-color_13: #ffcaa6;
$border-color_1: #ffcaa6;